@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e3f2fd;
  --foreground: #e3f2fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e3f2fd;
    --foreground: #e3f2fd;
  }
}

body {
  color: white;
  background: var(--background);
  font-family: "AR One Sans", sans-serif;
}
